name: Team Repositories

on:
  workflow_dispatch:
  push:
    paths:
      - teams.yml
    branches:
      - trunk
  schedule:
    # Every 24 hours.
    - cron: '0 */24 * * *'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Update teams
        uses: ./.github/actions/teams
        with:
          repo-token: ${{ secrets.ORG_WORKFLOWS }}
